---
services:
  demo:
    image: django_haystack_opensearch_demo:latest
    container_name: django_haystack_opensearch_demo
    restart: always
    hostname: django_haystack_opensearch_demo
    environment:
      - DEBUG=True
      - DEVELOPMENT=True
      - BOOTSTRAP_ALWAYS_MIGRATE=True
    ports:
      - "443:8443"
    depends_on:
      mysql:
        condition: service_healthy
      opensearch:
        condition: service_healthy
    volumes:
      - .:/app
      - ../django_haystack_opensearch:/ve/lib/python3.13/site-packages/django_haystack_opensearch
      #- ../../django-theme-academy/academy_theme:/ve/lib/python3.11/site-packages/academy_theme
      #- ../../django-wildewidgets/wildewidgets:/ve/lib/python3.11/site-packages/wildewidgets

  mysql:
    image: mysql:8.4
    container_name: db
    hostname: db
    environment:
      MYSQL_ROOT_PASSWORD: root_password
    cap_add:
      # removes error messages like: mbind: Operation not permitted
      - SYS_NICE
    ports:
      - "3306:3306"
    volumes:
      - ./sql/docker/my.cnf:/etc/mysql/conf.d/dev.cnf
      - ./sql/docker:/docker-entrypoint-initdb.d
      - djo_mysql_data:/var/lib/mysql
    healthcheck:
      test: mysql --user=root --password=root_password --execute "SHOW DATABASES;"
      interval: 5s
      timeout: 5s
      retries: 5

  opensearch:
    image: opensearchproject/opensearch:1
    container_name: opensearch
    hostname: opensearch
    environment:
      - discovery.type=single-node
      - "DISABLE_SECURITY_PLUGIN=true"
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    volumes:
      - djo_opensearch_data:/usr/share/opensearch/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  # The Docker volume in which the database's files are stored. Works in tandem
  # with the "demo_data:/var/lib/mysql" volume mount defined above.
  djo_mysql_data:
  djo_opensearch_data:
