# The server collation here does not match our AWS RDS exactly. In AWS one must use the
# utf8mb4_unicode_ci collation for the server even though you can set the default database
# collation to be utf8mb4_0900_ai_ci. In the container, you can set the server collation
# here but not the database collation. So I decided to set the server collation for our
# docker dbs in case someone forgets to set the character set and collation when creating a db.
[mysqld]
character_set_server=utf8mb4
collation_server=utf8mb4_0900_ai_ci

# If you connect to the database from our application, we get utf8mb4 connections. Set this
# so the same thing happens when using the mysql client from within the database container.
[client]
default-character-set=utf8mb4
